a:visited{ color:white;}

/* layout */
#header {
    height: 10vh; 
    background: rgb(32, 32, 32);
}
#banner {
    background-image: url("sources/img/turntable.jpg");
    background-size: cover;
}
#contents {
    background: rgb(32, 32, 32);
    height: 82vh;
}
#footer {
    background:rgb(32, 32, 32);
    height: 8vh;
}

/*container*/
.container {
    width: 70%; 
    margin: 0 auto;
}

/* header */
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.nav-links{
    display: flex;
    margin-left: auto;
    width: 40%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
#header .container .header-menu .nav{
    color: #fff;
    margin-top: 4px;
    transition: 0.4s;
    letter-spacing: 1px;
    font-size: 19px;
}
#header .container .header-menu a:hover {color: red;}

/* header-search */
.search-box{
    background: orangered;
    height: 35px;
    border-radius: 40px;
}
.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 20px;
    color: white;
}
.search-box:hover > .search-btn{
    background: white;
    color: orangered;
}
.search-btn{
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 17px;
    transition: 0.4s;
    line-height: 35px;
    width: 0;
}

/* header interactive */
.nav-links{
    z-index: 9999;
    transition: 0.4s ease;
}
.burger {
    display: none;  
}
.burger div{
    width: 25px;
    height: 2.5px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}
@media (max-width: 991px){
    .search-box{
        position: absolute;
        left: 7%;
    }
    .search-box:hover > .search-txt{
        width: 130px;
    }
    .nav-links{
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        justify-content: space-around;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: rgb(32, 32, 32);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .search-box{
        position: absolute;
        left: 7%;
    }
    .burger{
        display: block;
        position: absolute;
        margin-left: auto;
        right: 3%;
        cursor: pointer;
    }
    nav-list{
        width: 70%;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* footer */
#footer{
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
}
#footer .container .footer {
    padding: 2px 0 0 0;
    text-align: center; 
    color: #fff;
}
#footer .container .footer address {
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.829);
    font-size: 14px;
}
#footer .container .footer li {
    position: relative;
    display: inline; 
    text-transform: uppercase; 
    padding: 0 8px 0 10px;
    font-size: 17px;
    letter-spacing: 0.7px;
}
#footer .container .footer li:before {
    content: ""; 
    width: 2px; 
    height: 15px; 
    background: #ccc; 
    position: absolute;
    left: 0; 
    top: 2px;
}
#footer .container .footer li:first-child:before {
    width: 0; 
    height: 0;
}

/*banner*/
#banner .container .title {
    text-align: center;
    padding-top: 40px;
}
#banner .container .title h1 {
    font-size:5rem; 
    color: white;
    border:2px solid white;
    padding : 10px;  
    font-family: Righteous, "Helvetica Neue", serif;
    background-color: rgba(162, 162, 162, 0.452);
    text-shadow: 3px 2px #111;
}
#banner .container .title #bio_info {
    display: inline-block; 
    font-size: 1.5rem; 
    color:rgb(252, 253, 206);
    margin-bottom: 20px; 
    margin-top: -25px; 
    border-radius: 20px; 
    width: 300px; height: 60px;
    line-height: 20px; 
    background-color: rgb(32, 32, 32);
    box-shadow: 0 3px 2px -1px #111;
    text-shadow: 3px 3px #111;
}

.banner-space {
    height: 90px; 
    background-color: rgb(32, 32, 32);
}

/* SNS */
#banner .banner-icon {
    text-align: center; 
    margin-top: 10px; 
    display: center;
}
#banner .banner-icon .icon {
    font-size: 30px; 
    display: inline; 
    padding: 10px;
}
#banner .banner-icon .icon a {
    display: inline-block;
    width: 32 px; height: 32px; 
    margin-top: 10px;
}
#banner .banner-icon .icon .fa:hover {
    color: red;
    transition: 0.4s;
}
#banner .banner-space .banner-icon h3 {
    font-size: 20px; 
    display: inline-block; 
    margin-top: 20px; 
    color: rgb(252, 253, 206); 
    width: auto;
    align-items: center;
}

/* menu */
menu{
    margin: 0;
    background: #202020;
    position: relative;
}
.nav-list{
    padding: 70px 0;
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.5s ease;
}
.nav-list li a:hover{
    color: red;
    transition: 0.4s;
}
.nav-list li i{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(252, 253, 206);
    font-size: 0;
    cursor: pointer;
}

@media (max-width: 991px){
    .title{
        height: 100%;
        background-position: center;
    }
    .nav-list{
        width: 70%;
    }
}

@media (max-width: 671px){
    #banner .container .title h1{
        font-size: 3rem;
    }
    .nav-list{
        width: 90%;
        padding: 80px 0 0;
    }
    .nav-list li i{
        font-size: 40px;
        padding: 20px 0;
    }
}

h2{
    color:red;
    text-align: center;
    align-items: center;
    background-color: aliceblue;
    font-size: 2.1rem;
    font-family: Georgia, "Helvetica Neue", serif;
    margin: 40px 0px; letter-spacing: 0.5px;
    height: 53px;
    padding-top: 8px;
}

/* slidershow */
img{
    height: 100%;
}
.slidershow {
    position: relative;
    overflow: hidden;
}
.album {
    width: 400px; 
    height: 400px;
}
.navigation{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(35%);
    display: flex;
    margin: auto;
}
.slidershow h3{
    color: rgb(252, 253, 206);
    padding: 10px 10px;
}
.slidershow .description{
    color: #fff;
    position: absolute;
    border: 2px solid #fff;
    display: flex;
    margin: auto;
    top: 30%;
    left: 50%;
    transform: translateX(-10%);
    width: 480px;
    height: 300px;
    visibility: hidden;
    flex-direction: column;
}
.slidershow .description .title {
    height: 30%;
    margin: auto;
    margin-top: 10%;
    font-size: 1.5rem;
}
.slidershow .description .details {
    margin: auto;
    height: 70%;
    font-size: 18px;
    margin-top: 7%;
}
.slidershow .description .details li{
    list-style: circle;
}

.bar{
    width: 40px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r1:checked ~ .s1 .description{
    visibility: visible;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r2:checked ~ .s2 .description{
    visibility: visible;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r3:checked ~ .s3 .description{
    visibility: visible;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r4:checked ~ .s4 .description{
    visibility: visible;
}

/* events */
.event{
    background: rgb(32, 32, 32);
    padding: 20px;
}
.event .container{
    height: 100%;
    transition: 0.5s ease;
}
.event .description{
    height: 50px;
    padding: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.event .description:hover{
    background: #e91e63;
}
.event .description h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: -8px;
}
.event .description p{
    margin: 10px 0 0;
}

.event .events{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: 700px;
    display: flex;
}
.event .events ul{
    position: absolute;
    top: 50%;
    transform: translateY(-47%);
    width: 100%;
    padding: 0 4%;
}
.event .events li{
    top: 50%;
    width: 92%;
    list-style: none;
    background: #fff;
    height: 200px;
    padding: 0;
    display: flex;
    margin-top: -1px;
    margin: 0 0 15px 0;
}
.event .events li:last-child{
    margin: 0 0 32px 0;
}
.event .events ul li .time{
    position: relative;
    background: #262626;
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    transition: 0.5s;
    color: #fff;
    transition: 0.5s ease;
}
.event .events ul li:hover .time{
    background: #e91e63;
}
.event .events ul li .time h4{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 40px;
}
.event .events ul li .time h4 span{
    font-size: 30px;
}
.event .events ul li .details{
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    float: left;
}
.event .events ul li .details h3{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}
.event .events ul li .details p{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}
.event .events ul li .details a{
    color: #000;
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #262626;
    margin-top: 15px;
    font-size: 18px;
    transition: 0.5s;
}
.event .events ul li .details a:hover{
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}

@media (max-width: 991px){
    .event .container{
        width: 90%;
        height: auto;
    }
    .event{
        height: 100%;
    }
    .description{
        align-items: center;
        padding: 0;
        height: auto;
    }
    .event .events {
        height: auto;
    }
    .event .events ul{
        position: relative;
        box-sizing: border-box;
        padding: 0 4%;
        transform: translateY(3%);
    }
    .event .events ul li .time{
        width: 100px;
        height: 100px;
    }
    .event .events ul li{
        height: auto;
        margin: 0 0 15px 0;
        width: 100%;
    }
    .event .events ul li .time h4{
        font-size: 38px;
        line-height: 28px;
    }
    .event .events ul li .time h4 span{
        font-size: 24px;
    }
    .event .events ul li .details a{
        font-size: 15px;
    }
}

/* contact */
#contact .container {
    color: white; 
    text-align: center
}
#contact form {margin-top: 50px;}
#contact .container .form-control {
    width: 600px; 
    background: transparent;
    border: none; 
    outline: none; 
    border-bottom: 1.5px solid white; 
    font-size: 1.3rem; 
    color: #fff;
    margin-bottom: 16px;
}
#contact input {height: 45px;}
#contact form .form-control-submit {
    background: orangered; 
    border-color: transparent; 
    color: #fff;
    font-size: 20px; 
    font-weight: bold; 
    letter-spacing: 2px; 
    height: 50px; width: 400px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    box-shadow: 0 3px 2px -1px #111;
    border-radius: 10px;
}
#contact form .form-control-submit:hover {
    cursor: pointer; 
    background-color: red;
}
